<div layout="row" layout-align="center center">
  <div layout="column" layout-align="center center">
      <div layout="row" >
          <h4 flex>Start date</h4>
          <md-datepicker ng-model="startDate" md-placeholder="Enter date"
              md-min-date="minStartDate" md-max-date="maxStartDate" ng-change="moveEndDate(); calcVacation()"></md-datepicker>
      </div>
      <div layout="row" >
          <h4>End date</h4>
          <md-datepicker ng-model="endDate" md-placeholder="Enter date"
              md-min-date="startDate" md-max-date="maxEndDate" ng-change="calcVacation()"></md-datepicker>
      </div>
   </div>
   <div layout="column" flex-offset="5"  layout-align="end start">
      <h4 >Days total: {{Vacation}}</h4>
   </div>
</div>

<div layout="row" layout-align="center end">
      <md-input-container class="md-block" flex="20" >
          <label>Comment</label>
          <textarea ng-model="comment" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
      <div layout="column" layout-padding layout-margin>
        <md-button class="md-accent md-raised" arial-label="Menu" ng-click="newRequestCtrl.saveVacation()" >
                       SAVE
        </md-button>
      </div>


</div>


