<div layout="row" layout-align="center center">
  <div layout="column" layout-align="center center">
      <div layout="row" >
          <h4 flex>Start date</h4>
          <md-datepicker ng-model="newRequestCtrl.startDate" md-placeholder="Start date"
              md-min-date="newRequestCtrl.minStartDate" md-max-date="newRequestCtrl.maxStartDate"
              ng-change="newRequestCtrl.moveEndDate(); newRequestCtrl.calcVacation()"></md-datepicker>
      </div>
      <div layout="row" >
          <h4>End date</h4>
          <md-datepicker ng-model="newRequestCtrl.endDate" md-placeholder="Enter date"
              md-min-date="newRequestCtrl.startDate" md-max-date="newRequestCtrl.maxEndDate" ng-change="newRequestCtrl.calcVacation()"></md-datepicker>
      </div>
   </div>
   <div layout="column" flex-offset="5"  layout-align="end start">
      <h4 >Days total: {{newRequestCtrl.Vacation}}</h4>
   </div>
</div>

<div layout="row" layout-align="center end">
      <md-input-container class="md-block" flex="20" >
          <label>Comment</label>
          <textarea ng-model="newRequestCtrl.comment" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
      <div layout="column" layout-padding layout-margin>
        <md-button class="md-accent md-raised" arial-label="Menu" ng-click="newRequestCtrl.saveVacation()" >
                       SAVE
        </md-button>
      </div>


</div>


