.error-mess{
  color: red;
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.notificate.success{
     background-color: #2BBA2B;
     color: white;
     border:none;
}

.notificate.error{
     background-color: #ff4447;
     color: white;
     border:none;
}
